obj/
bin/
.vs/
.vscode/
AppSettings.config
ConnectionStrings.config
Supercharger.dat
*.csdat
*.log
*.pubxml
*.suo
*.user
node_modules/
Development/js/
deploy/
typings/
Angular/Deploy/
Build.json

JuicyWorld/JuicyWorld/Content/Angular2/node_modules/
JuicyWorld/JuicyWorld/Content/Angular2/Development/js/
JuicyWorld/JuicyWorld/Content/Angular2/typings/
JuicyWorld/JuicyWorld/Content/Angular2/.vscode/
JuicyWorld/JuicyWorld/node_modules/
JuicyWorld/JuicyWorld/docs/
JuicyWorld/JuicyWorld/Content/Angular2/typings/globals/core-js/index.d.ts
JuicyWorld/JuicyWorld/Content/Angular6/deploy/
JuicyWorld/JuicyWorld/Content/Angular6/node_modules/
JuicyWorld/BusyBox/Content/Angular2/Development/js/
JuicyWorld/BusyBox/Content/Angular2/node_modules/
JuicyWorld/BusyBox/Content/StoreCreation/Development/js/
JuicyWorld/BusyBox/Content/StoreCreation/node_modules/
JuicyWorld/BusyBox/node_modules/
JuicyWorld/JuicyWorldTools/BakeActionTool/BakeActionTool/node_modules/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/src/assets/Waveforms/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/src/assets/Preview/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/src/assets/LayerPreview/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/src/assets/PosterImages/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/src/assets/ContentImages/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/src/assets/FeaturedImages/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/src/assets/FilterImages/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/src/assets/FilterJSONs/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/release-builds/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/src/assets/HelperJSONs/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/src/assets/HoverPreview/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/src/assets-old/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/assets/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/release-builds/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/USB-Store/src/HtmlFiles/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/HtmlFiles/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/HtmlFiles_PKO/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/HtmlFiles_STX/
JuicyWorld/JuicyWorldTools/BakeActionTool/Icons Backup/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/HtmlFiles_ETK/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/Final Aps Back Up/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/HtmlFiles_STK/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/HtmlFiles-EThK/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/HtmlFiles-Test/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/HtmlFiles_Rnd/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/HtmlFiles_EThk/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/HtmlFiles_STK TEst/
JuicyWorld/JuicyWorld/Content/Angular/node_modules/
JuicyWorld/JuicyWorld/Content/Angular/Deploy/
JuicyWorld/BusyBox/Content/Angular/node_modules/
JuicyWorld/BusyBox/Content/Angular/Deploy/
JuicyWorld/JuicyWorldTools/BakeActionTool/AngularApp/Helper-Files/
JuicyWorld/BusyFonts/Content/Angular/node_modules/
JuicyWorld/BusyFonts/node_modules/
JuicyWorld/BusyFonts/Content/Angular/Deploy/
JuicyWorld/Font-Boxx/Content/Angular/node_modules/
JuicyWorld/Font-Boxx/node_modules/
JuicyWorld/Font-Boxx/Content/Angular/Deploy/

JuicyWorld/packages/
JuicyWorld/JuicyWorldTools/IndexMyLiberaryToES/IndexMyLiberaryToES/packages/
JuicyWorld/JuicyWorldTools/PopulateDownloadInfoBoxx/packages/
/JuicyWorld/JuicyWorld/Build.html
/JuicyWorld/JuicyWorld/Build.json
